*{
    box-sizing: content-box;
}
body{
    height: 100%;
    margin: 0;
    padding: 0;
}
#product-overview{
    background: url("img/free.png");
    background-size: cover;
    width: 100%;
    height: 300px;
    padding: 10px;

}
.section-title{
    color: #2ddf5c;
    text-align: center;
}
.plan{
    display: inline-block;
    background: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    width: 20%;
    text-decoration: none;
    vertical-align: middle;
}
.plan--highlighted{
    background: #2ddf5c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__annotation{
    background: white;
    color: #2ddf5c;
    padding: 8px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}
.plan__title{
    color: #0e4f1f;
}
.plan__price{
    color: gray;
}
.plan--highlighted .plan__title{
    color: white;
}
.plan--highlighted .plan__price{
    color: gray;
}

#key-features{
    background: rebeccapurple;
    margin-top: 80px;
    padding: 16px;
}
#key-features .section-title{
    color: white;
    margin: 20px;
}
.key-feature__list{
list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}
.key-feature__description{
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: bold;

}
.key-feature__image{
    background: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid brown;
    border-radius: 50%;
    margin: auto;

}

.plan__features{
    list-style: none;
    margin: 0;
    padding: 0;
}
