.main-header{
    width: 100%;
    background-color: palevioletred;
    padding: 8px 16px;
}
.main-header > div{
    display: inline-block;
    vertical-align: middle;
    color: #2ddf5c;
}
.main-header__brand{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 110px);
    vertical-align: middle;

}
.main-nav__items{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.main-nav__item{
    display: inline-block;
    margin: 0 20px;

}
.main-nav__item a{
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active{
    color: mediumvioletred;
    border-bottom: 3px solid white;
}
.main-nav__item--cta a{
    color: white;
    background-color: blue;
    padding: 3px 9px;
    border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
    color: mediumvioletred;
    border: none;
}
.main-footer{
    background: black;
    padding: 32px;
    margin-top: 48px;
}
.main-footer__links{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.main-footer__link{
    display: inline-block;
    margin: 0 16px;
}
.main-footer__link a{
    color: white;
    text-decoration: none;
}
.main-footer__link a:hover,
.main-footer__link a:active{
    color: #cccccc;
}
.button{
    color: white;
    background: #0e4f1f;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    margin-top: 5px;
    padding:3px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
}
.button:hover,
.button:active {
    background: white;
    color: #0e4f1f;
}
.button:focus{
    outline: none;
}